
  td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 3px;
    width: 180px;
  }

  th {
    background: darkblue;
    color: white;
    border-collapse: collapse;
    padding:3px;
    font-weight: bold;
    width: 180px;
  }

  input {
    max-width:50px;
  }


html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
font-size: 1.8rem;
color: white;
}
h2 {
font-size: 1.5rem;
font-weight: bold;
color: #143642;
}
.topnav {
overflow: hidden;
background-color: #143642;
}
body {
margin: 0;
}
.content {
padding: 30px;
max-width: 600px;
margin: 0 auto;
}
.card {
background-color: #F8F7F9;;
box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
padding-top:10px;
padding-bottom:20px;
}
.button {
padding: 15px 50px;
font-size: 24px;
text-align: center;
outline: none;
color: #fff;
background-color: #0f8b8d;
border: none;
border-radius: 5px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button:active {
background-color: #0f8b8d;
box-shadow: 2 2px #CDCDCD;
transform: translateY(2px);
}
.state {
font-size: 1.5rem;
color:#8c8c8c;
font-weight: bold;
}


/*********/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

video{
	min-width: 100%;
	min-height: 100vh;
	object-fit: cover;
}

.notes{
	position: absolute;
	width: 100%;
	bottom: 250px;
	/*bottom: 250px;
	right: 500 px;
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;*/
}

.notes h3{
	opacity: 100%;
	text-align: center;
	font-size: 50px;
	color: #222;
}

video{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}